html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #457fca; /* fallback for old browser */
    background: -webkit-linear-gradient(to left, #457fca, #5691c8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #457fca, #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+ */

    color: #fff;
    font-size: 18px;
}

.container {
    width: 900px;
    margin: 100px auto;
}

input[type="text"] {
    border: solid 1px #fff;
    height: 35px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    color: #fff;
    background: none;
}

.btn-submit {
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #5691c8;
    width: 75px;
    color: #fff;
    font-size: 18px;
    margin-left: 25px;
}

#todo-list li {
    height: 30px;
    line-height: 30px;
    width: 50%;
}

#todo-list li:hover {
    background-color: #fff;
    color: #555;
}